* {
  margin: 0px;
  font-family: 'Bebas Neue', cursive;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/*HEADER*/
.menu {
  background-color: #000000;
  border-bottom: #5c5c5c solid 3px;
}

.menu .navbar .container-fluid {
  font-size: 2.5rem;
}

.menu .navbar .container-fluid .navbar-brand img {
  height: 8rem;
}

.menu .navbar .container-fluid .navbar-collapse {
  justify-content: end;
}

.menu .navbar .navbar-collapse {
  justify-content: end;
}

.menu .navbar .navbar-collapse .navbar-nav .nav-item {
  color: #dadada;
  margin: 0px 10px;
}

/*FOOTER*/
.footer {
  display: flex;
  background-color: #303030;
  height: 6rem;
  width: 100%;
  gap: 2.5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2px;
  overflow: hidden;
}

.footer .footer_link, .footer .bi .bi-facebook, .footer .bi .bi-twitter, .footer .bi .bi-instagram {
  width: 3rem;
  color: #dadada;
}

/*INDEX*/
.container-fluid {
  background-color: #000000;
}

.container-fluid .row {
  font-size: 4rem;
}

.container-fluid .row .main__izq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.container-fluid .row .main__izq .main__img {
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 10px;
  border-color: #5c5c5c;
  width: 100%;
}

.container-fluid .row .main__izq .main__img:hover {
  transform: scale(0.9);
  transition: .5s;
}

.container-fluid .row .main__der {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-fluid .row .main__der .main__der1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 33.33%;
}

.container-fluid .row .main__der .main__der1 .main__titular {
  font-size: 3.5rem;
  color: #dadada;
  box-sizing: border-box;
}

.container-fluid .row .main__der .main__der2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 33.33%;
}

.container-fluid .row .main__der .main__der2 .main__iframe {
  width: 70%;
  height: 8rem;
  border-style: solid;
  border-radius: 2rem;
  box-sizing: border-box;
}

.container-fluid .row .main__der .main__der3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 33.33%;
}

.container-fluid .row .main__der .main__der3 .boton {
  display: inline-flex;
  width: fit-content;
  background-color: #000000;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  border-radius: 5px;
  align-content: center;
  text-align: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.container-fluid .row .main__der .main__der3 .boton span {
  position: relative;
  z-index: 2;
  transition: .5s ease all;
}

.container-fluid .row .main__der .main__der3 .boton::after {
  content: "";
  width: 110%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(-100% - 35px);
  border-bottom: 35px solid gray;
  border-right: 20px solid transparent;
  transition: .6s ease-in-out all;
}

.container-fluid .row .main__der .main__der3 .boton:hover::after {
  left: 0;
}

.container-fluid .row .main__der .main__der3 .boton .main__tienda {
  color: #dadada;
  font-size: 2rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #000000;
  text-decoration: none;
  align-items: center;
}

.container-fluid .row .main__der .main__der3 .boton .main__tienda .main__tienda h2 {
  margin: 0;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .main__der {
    height: 400px;
  }
  .main__tienda {
    width: 80%;
  }
  .main__tienda h2 {
    font-size: 3rem;
  }
}

/*FIN INDEX*/
/*DISCOGRAFIA*/
.playlists {
  width: 100%;
  background-color: #000000;
  font-family: 'Bebas Neue', cursive;
  color: #dadada;
  font-size: 25px;
  text-align: center;
  display: grid;
  grid-template-areas: 'titular titular titular' 'play play play' 'play play play' 'play play play' 'play play play';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
}

.playlists .playlists__titular {
  grid-area: titular;
  display: flex;
  font-size: 4rem;
  color: #dadada;
  background-color: #000000;
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.playlists .playlists__album .animate__animated .animate__zoomIn {
  grid-area: play;
  padding: 0.625em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.playlists .playlists__album .animate__animated .animate__zoomIn .playlists_album_nombre {
  font-size: 3.5rem;
  text-align: center;
  justify-content: center;
}

.playlists .playlists__album .animate__animated .animate__zoomIn .playlists_iframe {
  width: 100%;
  height: 20rem;
  box-sizing: border-box;
}

@media screen and (max-width: 980px) {
  .playlists {
    font-size: 25px;
    grid-template-areas: 'titular titular' 'play play' 'play play' 'play play' 'play play';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 720px) {
  .playlists {
    grid-template-areas: 'titular' 'play' 'play' 'play' 'play'         'play' 'play' 'play' 'play';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
  }
  .playlists__album {
    padding: 20px;
  }
}

@media screen and (max-width: 576px) {
  .playlists {
    font-size: 10px;
  }
}

/*FIN DISCOGRAFIA*/
/*HISTORIA*/
.historia__titular {
  color: #dadada;
  background-color: #5c5c5c;
  display: flex;
  width: 100%;
  padding: .6em;
  justify-content: center;
  text-align: center;
  font-size: 4.5rem;
  box-sizing: border-box;
  margin: 0;
}

.historia {
  width: 100%;
  background-color: #5c5c5c;
  font-family: 'Bebas Neue', cursive;
  color: #dadada;
  font-size: 50px;
}

.historia .historia__banda {
  font-size: .6em;
  padding: 1em;
}

.historia .historia__banda details .historia__titulo__articulo {
  font-size: 1.2em;
}

.historia .historia__banda__tablas {
  width: 100%;
  display: grid;
  padding: 1.25rem;
  grid-template-areas: 'tabla1 tabla2';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
}

.historia .historia__banda__tablas .historia__banda_tabla1, .historia .historia__banda__tablas .historia__banda_tabla2 {
  display: flex;
  grid-area: tabla1;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.historia .historia__banda__tablas .historia__banda_tabla1 .tabla__titulo, .historia .historia__banda__tablas .historia__banda_tabla2 .tabla__titulo {
  width: 100%;
  font-size: .6em;
  height: auto;
}

.historia .historia__banda__tablas .historia__banda_tabla1 .historia__tabla, .historia .historia__banda__tablas .historia__banda_tabla2 .historia__tabla {
  font-size: .4em;
  width: 90%;
}

.historia .historia__banda__tablas .historia__banda_tabla2 {
  grid-area: tabla2;
}

.historia .historia__banda__tablas .historia__banda_tabla2 .tabla__titulo {
  width: 100%;
  font-size: .6em;
  height: auto;
}

.historia .historia__banda__tablas .historia__banda_tabla2 .historia__tabla {
  font-size: .4em;
  width: 90%;
}

@media screen and (max-width: 980px) {
  .historia {
    font-size: 40px;
  }
}

@media screen and (max-width: 832px) {
  .historia .historia__banda__tablas {
    grid-template-areas: 'tabla1' 'tabla2';
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 30px;
    gap: 40px;
  }
}

/*FIN HISTORIA*/
/*INTEGRANTES*/
.miembros {
  width: 100%;
  background-color: #000000;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
}

.miembros .miembros__titular {
  color: #dadada;
  font-size: 2.6em;
  display: flex;
  width: 100%;
  height: 20%;
  text-align: center;
  justify-content: center;
  padding-top: 1.25rem;
}

.miembros .miembros__list {
  font-size: 1.5625em;
  display: inline;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.miembros .miembros__list .miembros__list__li {
  display: flex;
  width: 100%;
  background-color: #5c5c5c;
  color: #000000;
  justify-content: center;
}

.miembros .miembros__list .miembros__list__li .miembros__it {
  text-decoration: none;
  color: #000000;
  background-color: #dadada;
  border-radius: 5px;
  padding: 1px;
}

.miembros .miembros__list .miembros__list__li .miembros__it:hover {
  color: #5c5c5c;
}

.contenedor__miembros {
  height: 70rem;
  display: inline-block;
}

.contenedor__miembros .miembros__tim, .contenedor__miembros .miembros__zach, .contenedor__miembros .miembros__joe, .contenedor__miembros .miembros__brandon {
  font-size: 2rem;
  padding: 1.25rem;
  overflow: hidden;
}

.contenedor__miembros .miembros__tim details #tim, .contenedor__miembros .miembros__tim #zach, .contenedor__miembros .miembros__tim #joe, .contenedor__miembros .miembros__tim #brandon, .contenedor__miembros .miembros__zach details #tim, .contenedor__miembros .miembros__zach #zach, .contenedor__miembros .miembros__zach #joe, .contenedor__miembros .miembros__zach #brandon, .contenedor__miembros .miembros__joe details #tim, .contenedor__miembros .miembros__joe #zach, .contenedor__miembros .miembros__joe #joe, .contenedor__miembros .miembros__joe #brandon, .contenedor__miembros .miembros__brandon details #tim, .contenedor__miembros .miembros__brandon #zach, .contenedor__miembros .miembros__brandon #joe, .contenedor__miembros .miembros__brandon #brandon {
  font-size: 3rem;
}

.contenedor__miembros .miembros__tim .foto__miembro, .contenedor__miembros .miembros__zach .foto__miembro, .contenedor__miembros .miembros__joe .foto__miembro, .contenedor__miembros .miembros__brandon .foto__miembro {
  width: 25rem;
  border-radius: 5px;
  box-shadow: 5px 5px 1px #5c5c5c;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: .5rem;
  }
  .miembros .miembros__list .miembros__list__li {
    justify-content: flex-start;
  }
  .miembros .miembros__list .miembros__list__li .miembros__it {
    color: #dadada;
    background-color: #5c5c5c;
    text-align: center;
    width: 50%;
    justify-content: flex-start;
  }
  .miembros .miembros__list .miembros__list__li .miembros__it:hover {
    color: #000000;
  }
}

/*FIN INTEGRANTES*/
/*CONTACTO*/
.body__contacto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.body__contacto .titular {
  display: flex;
  width: 100%;
  font-size: 50px;
  justify-content: center;
  padding: 20px;
}

.body__contacto .formulario {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  padding-bottom: 40px;
  font-size: 25px;
}

.body__contacto .formulario .legend {
  font-size: 3rem;
}

.body__contacto .formulario .form-label {
  font-size: 2.5rem;
}

.body__contacto .formulario .text__area {
  font-size: 25px;
  padding: 2px;
}

.body__contacto .formulario .formulario__botones {
  font-size: 2rem;
}

.body__contacto .formulario .form-check {
  font-size: 2rem;
  padding-left: 0;
  margin-left: 3rem;
}

/*FIN CONTACTO*/
