*{
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
}
/*index*/

.menu{
    background-color: #000000;
    width: 100%;
    border-bottom: 0.1875em solid #0f0f0f;
    display: flex;
    
}

.menu__nav{
    display: grid;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    align-items: center;
    display: grid;
    align-items: center;
    grid-template-areas: 'logo ul';
    grid-template-columns: 40% 60%;
    grid-template-rows: 6.25rem;
}

.menu__nav_logo{
    height: 100%;
    width: 100%;
    padding-left: 5px;
    margin-top: 0px;
    display: flex;
    grid-area: logo;
    justify-content: center;
}

.menu__logo{
    width: 21.875rem;
    height: 100%;
    box-sizing: border-box;
}

.menu__nav__ul{
    display: flex;
    justify-content: center;
    grid-area: ul;
}

.menu__ul{
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    color: #000000;
    font-size: 25px;
    display: flex;
    padding: 0.625em;
    align-items: center;
}
.menu__li{
    padding: 0.625em;
    text-transform: uppercase;
    width: max-content;
}

.menu__it{
    text-decoration: none;
    color: #4b4848;
}

.main{
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    display: grid;
    background-color: #000000;
    width: 100%;
    grid-template-areas: 
    'main__iz main__der'
    'main__iz main__der'
    'main__iz main__der'
    ;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
}

.main__izq{
    width: 100%;
    display: flex;
    padding: 1.25em;
    grid-area: main__iz;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.main__img{
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
    border-color: #5e5e5e;
    width: 100%;
}

.main__der{
    grid-area: main__der;
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    grid-template-areas: 
    'titulo'
    'iframe'
    'tienda';
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
}

.main__der1, .main__der2, .main__der3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.main__titular{
    font-size: 2rem;
    color: #474545;
    box-sizing: border-box;
    grid-area: titulo;
    
}

.main__iframe{
    width: 80%;
    height: 80px;
    border-style: solid;
    border-radius: 20px;
    box-sizing: border-box;
    grid-area: iframe;
}

.main__tienda{
    color: #3f3d3d;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    background-color: #000000;
    grid-area: tienda;
}

.footer{
    display: flex;
    background-color: #303030;
    height: 60px;
    width: 100%;
    gap: 1.875rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-area: footer;
    box-sizing: border-box;
    padding: 2px;
    overflow: hidden;
}

.footer__div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    box-sizing: border-box;
}

.footer__img, .footer__link{
    width: 40px;
    height: 40px;
}



@media screen and (max-width: 980px) {
    .menu__nav{
        grid-template-areas: 
        'logo'
        'ul';
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px;
    }   
}

@media screen and (max-width: 768px){

    .main__izq{
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .main__link, .main__img{
        width: 50%;
        
    }

    .main__img{
        width: 100%;
    }

    .main{
        grid-template-areas: 
        'main__iz'
        'main__iz'
        'main__iz'
        'main__der'
        'main__der'
        'main__der';
        grid-template-columns: 100%;
        grid-template-rows: .5fr .5fr .5fr auto auto auto;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
        
    body{
        font-size: 12px;
    }

}

/*fin index*/

/*discografia*/


.playlists{
    width: 100%;
    background-color: #000000;
    font-family: 'Bebas Neue', cursive;    
    color: #474545;
    font-size: 25px;
    text-align: center;
    display: grid;
    grid-template-areas: 
    'play play play'
    'play play play'
    'play play play'
    'play play play';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    
}

.playlists__titular{
    font-size: 3em;
    color: #474545;
    background-color: #000000;
    display: flex;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    justify-content: center;
    text-align: center;
}


.playlists__album{
    padding: 0.625em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.playlists__album__nombre{
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
}

.playlists__iframe{
    width: 100%;
    height: 23.75em;
    box-sizing: border-box;
}

@media screen and (max-width: 980px) {
    .playlists{
        font-size: 25px;
        grid-template-areas: 
        'play play'
        'play play'
        'play play'
        'play play';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        box-sizing: border-box; 
    }
}

@media screen and (max-width: 768px){

    .playlists{
        font-size: 20px;
    }

}

@media screen and (max-width: 576px) {
        
    .playlists{
        font-size: 12px;
    }

}

/*fin discografia*/

/*historia*/

.historia{
    width: 100%;
    background-color: #5c5c5c;
    font-family: 'Bebas Neue', cursive;    
    color: #1b1b1b;
    font-size: 50px;
}

.historia__titular{
    background-color: #5c5c5c;
    display: flex;
    width: 100%;
    padding: .6em;
    justify-content: center;
    text-align: center;
    font-size: 3.125rem;
    box-sizing: border-box;
}

.historia__banda{
    font-size: .6em;
    padding: 1em;
}

.historia__titulo__articulo{
    font-size: 1.2em;
}

.historia__banda__tablas{
    width: 100%;
    display: grid;
    padding: 1.25rem;
    grid-template-areas: 'tabla1 tabla2';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
}


.tabla__titulo{
    width: 100%;
    font-size: .6em;
    height: auto;
}

.historia__banda_tabla1{
    display: flex;
    grid-area: tabla1;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.historia__banda_tabla2{
    display: flex;
    grid-area: tabla2;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.historia__tabla{
    font-size: .4em;
    width: 90%;
}

@media screen and (max-width: 980px) {
    .historia{
        font-size: 40px;
    }
    
}

@media screen and (max-width: 832px){
    .historia__banda__tablas{
        grid-template-areas: 
        'tabla1'
        'tabla2';
        grid-template-columns: 100%;
        grid-template-rows: auto;
        padding: 30px;
        gap: 40px;
    }

}


/* fin historia*/

/* integrantes */

.miembros{
    width: 100%;
    background-color: #000000;
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
}

.miembros__titular{
    color: #4b4848;
    font-size: 2.6em;
    display: flex;
    width: 100%;
    height: 20%;
    text-align: center;
    justify-content: center;
    padding-top: 1.25rem;
}

.miembros__list{
    font-size: 1.5625em;
    display: inline;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.miembros__list__li{
    display: flex;
    width: 100%;
    background-color: #4b4848;
    color: #000000;
    justify-content: center;
}

.miembros__it{
    text-decoration: none;
    color: #000000;
    background-color: #929292;
    border-radius: 5px;
    padding: 1px;
}

.miembros__tim, .miembros__zach, .miembros__joe, .miembros__brandon{
    font-size: 1.25em;
    padding: 1.25rem;
}

#tim, #zach, #joe, #brandon{
    font-size: 2em;
}

.foto__miembro{
    width: 12.5em;
}

@media screen and (max-width: 980px) {
    .miembros{
        font-size: 12px;
    }
}

/* fin integrantes */

/* contacto */

.body__contacto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.formulario{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    padding-bottom: 40px;
    font-size: 25px;
}

.formulario__botones{
    font-size: 20px;
}

.text__area{
    font-size: 25px;
    padding: 2px;
}

.titular{
    display: flex;
    width: 100%;
    font-size: 50px;
    justify-content: center;
    padding: 20px;
}

/* fin contacto*/