/*HEADER*/

.menu{    
    background-color: #000000;
    border-bottom: #5c5c5c solid 3px;
    & .navbar{
        color: #dadada;
        margin: 0px 10px;
        & .container-fluid{
            font-size: 2.5rem;
            .navbar-brand img{
                height: 8rem;
            }
            .navbar-collapse{
                justify-content: end;
            }
        }
    }
}