/*HEADER*/

.menu{    
    background-color: #000000;
    border-bottom: #5c5c5c solid 3px;
    & .navbar{
        & .container-fluid{
            font-size: 2.5rem;
            .navbar-brand img{
                height: 8rem;
            }
            .navbar-collapse{
                justify-content: end;
            }
        }
        & .navbar-collapse{
            justify-content: end;
            .navbar-nav{
                .nav-item{
                    color: #dadada;
                    margin: 0px 10px;
                }
            }
        }
    }
}