/*HISTORIA*/

.historia__titular{
    color: #dadada;
    background-color: map-get($map:$paleta , $key:secundario);
    display: flex;
    width: 100%;
    padding: .6em;
    justify-content: center;
    text-align: center;
    font-size: 4.5rem;
    box-sizing: border-box;
    margin: 0;
}
.historia{
    width: 100%;
    background-color: map-get($map:$paleta , $key:secundario);
    font-family: 'Bebas Neue', cursive;    
    color:  map-get($map:$paleta , $key:primario);
    font-size: 50px;

    .historia__banda{
        font-size: .6em;
        padding: 1em;

        details{
            .historia__titulo__articulo{
                font-size: 1.2em;
            }
        }
    }
        .historia__banda__tablas{
            width: 100%;
            display: grid;
            padding: 1.25rem;
            grid-template-areas: 'tabla1 tabla2';
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            justify-content: center;
            text-align: center;

            .historia__banda_tabla1{
                display: flex;
                grid-area: tabla1;
                justify-content: center;
                align-items: baseline;
                flex-wrap: wrap;

                .tabla__titulo{
                    width: 100%;
                    font-size: .6em;
                    height: auto;
                }
                .historia__tabla{
                    font-size: .4em;
                    width: 90%;
                }
            }

    .historia__banda_tabla2{
        display: flex;
        grid-area: tabla2;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;

    .tabla__titulo{
        width: 100%;
        font-size: .6em;
        height: auto;
    }
    
    .historia__tabla{
        font-size: .4em;
        width: 90%;
            }
        }
    }
    
}

@media screen and (max-width: 980px) {
    .historia{
        font-size: 40px;
    }
    
}

@media screen and (max-width: 832px){
    .historia{
        .historia__banda{
            details{
                .historia__titulo__articulo{
                }
            }
        }
            .historia__banda__tablas{
                grid-template-areas: 
                'tabla1'
                'tabla2';
                grid-template-columns: 100%;
                grid-template-rows: auto;
                padding: 30px;
                gap: 40px;
        }  
    }       

}

/*FIN HISTORIA*/