/*INTEGRANTES*/

.miembros{
    width: 100%;
    background-color:  map-get($map:$paleta , $key:black);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;

    .miembros__titular{
        color: map-get($map:$paleta , $key:primario);
        font-size: 2.6em;
        display: flex;
        width: 100%;
        height: 20%;
        text-align: center;
        justify-content: center;
        padding-top: 1.25rem;
    }

    .miembros__list{
        font-size: 1.5625em;
        display: inline;
        list-style: none;
        align-items: center;
        justify-content: center;

        .miembros__list__li{
            display: flex;
            width: 100%;
            background-color: map-get($map:$paleta , $key:secundario);
            color: #000000;
            justify-content: center;

            .miembros__it{
                text-decoration: none;
                color: #000000;
                background-color: map-get($map:$paleta , $key:primario);
                border-radius: 5px;
                padding: 1px;
            }
            .miembros__it:hover{
                color: map-get($map:$paleta , $key:secundario);
            }
        }
    }
}

.contenedor__miembros{
    height: 70rem;
    display: inline-block;

   .miembros__tim, .miembros__zach, .miembros__joe, .miembros__brandon{
        font-size: 2rem;
        padding: 1.25rem;
        overflow: hidden;
    
        details #tim, #zach, #joe, #brandon{
            font-size: 3rem;

        }
        .foto__miembro{
            width: 25rem;
            border-radius: 5px;
            box-shadow: 5px 5px 1px map-get($map:$paleta , $key:secundario);
            margin-bottom: 10px;
        }
    }
}  


@media screen and (max-width: 768px) {
    html{
        font-size: .5rem;
    }
    .miembros{
        .miembros__list{
            .miembros__list__li{
                justify-content: flex-start;
                .miembros__it{
                    color: map-get($map:$paleta , $key:primario);
                    background-color:  map-get($map:$paleta , $key:secundario);
                    text-align: center;
                    width: 50%;
                    justify-content: flex-start;
                }
                .miembros__it:hover{
                    color: map-get($map:$paleta , $key:black);
                }
            }
        }
    }
}

/*FIN INTEGRANTES*/