.mensaje__container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    .logo__RA{
        width: 200px;
        display: block;
    }
    .titulo{
        display: block;
        width: 100%;
        font-size: 5rem;
    }
    .parrafo{
        font-size: 3rem;
    }

    @media screen and(max-width:768px){
        .mensaje__container{
            height: 800px;
        }
    }
}