*{
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
}
html{
    font-size: 10px;
} 
@import 'map';
@import 'header';
@import 'footer';
@import 'index';
@import 'discografia';
@import 'historia';
@import 'integrantes';
@import 'contacto';

